################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj/Debug


/.vscode
/bin
/config.json
/app.js
/Connector.MsSql.js
/Connector.MySql.js
/package-lock.json
/ParkDS.njsproj
/Certificates
